

<style type="text/css">
  {
  }
</style><p>about works!</p>
<h1>{{title}}</h1>


{{ title }}

<h2>{{getTitle() }}</h2>

<h2 [innerText]="title"></h2>
<h2 [innerHTML]="title"></h2>

<div [style.backgroundColor]="bgColor" >{{getTitle() }}</div>


<h1>  class="my-5>{{ title }}</h1>


  <div class='formGroup'>


    <label>
      <input [(ngModel)]="text" #inputRef>
    </label>

    <button (click)="addTask(inputRef)" class="btn  btn-primary" id="btn"
          type="button">Ajouter</button>



  <div id="tasks">

    <div  class="task"  *ngFor="let task of tasks;  let id =index"
    (click)="deleteTask(id)">
      {{id}}-{{ task }}

    </div>
  </div>

  <button (click)="save()" class="btn  btn-primary" id="btn-save"
          type="button">Enregistrer</button>

  </div>
